
html {
 background-color: #c1d375;
}


 body{
  max-width: 800px;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
}

a, a.navbar-item:hover {
  color: #7593d3;
}


#main-title {
  background-image: url(../img/sauge.jpg);
  text-align: center;
  margin: 0;
  padding: 3em;
}


#main-title>.container {
  max-width: 500px;
  padding: 1em;
  background: rgba(255, 255, 255, 0.7)
}

#main-content {
  padding-left: 3rem;
  padding-right: 3rem;
}

.decoimg-left {
  float: left;
  margin: 2rem 3rem 2rem -33%;
}

.decoimg-right {
  float: right;
  margin: 2rem -33% 2rem 3rem;
}

@media (max-width: 1000px) {
  .decoimg-left,.decoimg-right {
    display: none;
  }
  #main-content {
    padding-left: 0;
    padding-right: 0;
  }
  #main-title {
    padding: 1em;
  }
  .section {
    text-align: center;
  }
  .content>p, .content>ul {
    text-align: left;
  }


}
